table {
    width: 100%;
    padding: 30px;

}

.mat-row:hover {
    background-color: rgb(233, 232, 244);
}

/* .mat-row:nth-child(odd){
    background-color: white;
} */

.mat-header-cell {
    background: #3F50B5;
    color: whitesmoke;
    font-size: 20px;
}

.example-button-row {
   float: right;
   padding-right: 30px;
  }